@{
    ViewBag.Title = "FileList";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<html>
<head>
    <title>File List</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <table border="0" cellpadding="10">
        <tr>
            <td>
                <h1>Welcome to OneBox</h1>
            </td>
        </tr>
    </table>

    <p>This is the file list page!</p><br/><br />
    
    @{ 
        GoogleDriveDownloader g = new GoogleDriveDownloader();
    }

    <br /><br /><p>Your files:</p>
    @{ 
        List<Google.Apis.Drive.v2.Data.File> fileList = g.Download();
        for (int i = 0; i < 10; i++)
        {
            <ul>
                <li>
                    <p>@fileList.ElementAt(i).Title</p>
                    @{ 
                        if (@fileList.ElementAt(i).Title.Contains("jpg") || @fileList.ElementAt(i).Title.Contains("jpeg"))
                        {
                            <img src="@fileList.ElementAt(i).ThumbnailLink"/>
                        }
                    }
                    <br />
                    <a href="@fileList.ElementAt(i).AlternateLink">Download here!</a>
                </li>
            </ul>
                        }
    }

</body>
</html>