@{
    ViewBag.Title = "FileList";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<html>
<head>
    <title>File List</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <table border="0" cellpadding="10">
        <tr>
            <td>
                <h1>Welcome to OneBox</h1>
            </td>
        </tr>
    </table>

    <p>This is the file list page!</p><br/><br />
    
    @{
        IEnumerable<Google.Apis.Drive.v2.Data.File> googleList = (IEnumerable<Google.Apis.Drive.v2.Data.File>)TempData["GoogleResult"];
        IEnumerable<DropboxRestAPI.Models.Core.MetaData> dropboxList = (IEnumerable<DropboxRestAPI.Models.Core.MetaData>)TempData["DropBoxResult"];
        DropBoxDownloader d = (DropBoxDownloader)TempData["DropBoxDownloader"];
        }
        <p>Add files with this:</p>


        <form action="@Url.Action("Upload", "Home")" method="post" enctype="multipart/form-data">

            <label for="file">Filename:</label>
            <input type="file" name="file" id="file" />

            <input type="submit" />
        </form>
        <br />
        <p>Search for files:</p>

        <form action="" method="post" enctype="multipart/form-data">

            <label for="file">Criteria:</label>
            <input type="search" name="search" id="search" />

            <input type="submit" />
        </form>
        <br />

        <br /><br />
        <br /><br /><p>Your Google Drive files:</p>

    <p>Add files to Google Drive with this:</p>


    <form action="@Url.Action("Upload", "Home")" method="post" enctype="multipart/form-data">

        <label for="file">Filename:</label>
        <input type="file" name="file" id="file" />

        <input type="submit" />
    </form>

        <table border="1">
            @{
                for (int i = 0; i < googleList.Count(); i++)
                {
                    <tr>
                        @{
                            for (int j = 0; j < 5 && i < googleList.Count(); j++)
                            {
                                <td>
                                    <p>@googleList.ElementAt(i).Title</p>
                                    @{
                                        <img src="@googleList.ElementAt(i).ThumbnailLink" />
                                    }

                                    <a href="@googleList.ElementAt(i).AlternateLink">Download here!</a>
                                    @{
                                        i++;
                                    }
                                </td>
                            }
                        }
                    </tr>
                }
            }
        </table>
    <br /><br /><p>Your DropBox files:</p>
    <table border="1">
        @{
            for (int i = 0; i < dropboxList.Count(); i++)
            {
                <tr>
                    @{
                        for (int j = 0; j < 5 && i < dropboxList.Count(); j++)
                        {
                            <td>
                                <p>@dropboxList.ElementAt(i).Name</p>
                                <a href="" onclick="@{ var tempFile = @"C:\Users\OneBox\Downloads\"+dropboxList.ElementAt(i).Name;
                                   using (var fileStream = System.IO.File.OpenWrite(tempFile))
                                   {
                                       d.client.Core.Metadata.FilesAsync(dropboxList.ElementAt(i).path, fileStream);
                                   } }">Download here!</a>
                                @{ i++; }
                            </td>
                        }
                    }
                </tr>
            }
        }
    </table>
</body>
</html>