@{
    ViewBag.Title = "FileList";
}
<html>
<head>
    <title>File List</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @{
        IEnumerable<Google.Apis.Drive.v2.Data.File> googleList = (IEnumerable<Google.Apis.Drive.v2.Data.File>)TempData["GoogleResult"];
        IEnumerable<DropboxRestAPI.Models.Core.MetaData> dropboxList = (IEnumerable<DropboxRestAPI.Models.Core.MetaData>)TempData["DropBoxResult"];
        DropBoxDownloader d = (DropBoxDownloader)TempData["DropBoxDownloader"];
    }

    <br /><br /><div class="nowrap">Your Cloud Storage files:
    <br /><br />
    Add files with this:


    <form action="@Url.Action("Upload", "Home")" method="post" enctype="multipart/form-data">

        <label for="file">Filename:</label>
        <input type="file" name="file" id="file" />

        <input type="submit" />
    </form>
    <br />
    Search for files:

    <form action="" method="post" enctype="multipart/form-data">

        <label for="file">Criteria:</label>
        <input type="search" name="search" id="search" />

        <input type="submit" />
    </form>
    </div>

    <table border="0" class="fileslist">
        @{
            try
            {
                for (int i = 0; i < googleList.Count(); i++)
                {
                    <tr>
                        @{
                            for (int j = 0; j < 8 && i < googleList.Count(); j++)
                            {
                                <td>
                                    <p class="filename">@googleList.ElementAt(i).Title</p>
                                    @{
                                        if (@googleList.ElementAt(i).ThumbnailLink == null)
                                        {
                                            <a href="@googleList.ElementAt(i).AlternateLink">Download</a>
                                        }
                                        <a href="@googleList.ElementAt(i).AlternateLink"><img src="@googleList.ElementAt(i).ThumbnailLink"/></a>
                                        i++;
                                    }
                                </td>
                                        }
                        }
                    </tr>
                                            }
                                        }
                                        catch (ArgumentNullException e) { } }

    </table>
    @*<br /><br /><p>Your DropBox files:</p>
    <table border="1">
        @{
            try
            {
                for (int i = 0; i < dropboxList.Count(); i++)
                {
                    <tr>
                        @{
                            for (int j = 0; j < 5 && i < dropboxList.Count(); j++)
                            {
                                <td>
                                    <p>@dropboxList.ElementAt(i).Name</p>
                                    <a href="" onclick="@{ var tempFile = @"C:\Users\OneBox\Downloads\" + dropboxList.ElementAt(i).Name;
using (var fileStream = System.IO.File.OpenWrite(tempFile))
{
d.client.Core.Metadata.FilesAsync(dropboxList.ElementAt(i).path, fileStream);
} }">Download here!</a>
                                    @{ i++; }
                                </td>
                                        }
                        }
                    </tr>
                                            }
                                        }
                                        catch (ArgumentNullException e) { }
        }
    </table>*@
</body>
</html>